body {
    background-color: lightblue;
    font-family: Arial, Verdana, sans-serif;
}

header {
    text-align: center;
}

img {
    max-width: 100%; 
    height: auto;
    width: 900px;
    border-radius: 8px; 
}

h1, h2 {
    color: #4A4A4A;
}